<div class="container-fluid">
<div class="card-columns">
    <div class="card"  *ngFor="let post of posts">
            <a href="#card{{post.id}}" data-toggle="modal" data-target="#card{{post.id}}">
          <img class="card-img" src="{{post.urlPhoto}}"  alt="card">
        </a>
        <p>{{post.namePhoto}}</p>
        </div>
      </div>
    </div>

      <div *ngFor="let post of posts"  id="card{{post.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Enviar</button>
                <button type="button" class="btn btn-danger">Guardar</button>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
            </div>
            <div class="modal-body">
             <h3>{{post.namePhoto}}</h3>
             <img class="card-img" src="{{post.urlPhoto}}"  alt="card">
             <div class="iconito">
             <img class="icon" src=".\assets\img\iconito.png"  alt="icon">
            </div>
            <div class="author">
             <h5>{{post.author}}</h5>
             <p>{{post.description}}</p>
            </div>
             <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">-></button>
            </div>
            <div class="modal-footer">
              <h4>Comentarios</h4>
             
            </div>
          </div>
        </div>
      </div>